body {
  margin: 0 auto;
  max-width: 50rem;
  font-family: "Helvetica", "Open Sans", sans-serif;
  line-height: 1.5;
  padding: 4rem 1rem;
  color: #555;
  /* margin: 0; */
  /* display: flex; */

  /* This centers our sketch horizontally. */
  justify-content: center;

  /* This centers our sketch vertically. */
  align-items: center;
}

html, body {
  height: 100%;
}

main {
  justify-content: center;
  align-items: center;
}

.class {
  font-family: 'Courier New', Courier, monospace;
}

h1,
strong {
  color: #333;
}

a {
  color: #c75a00;
}
